.model {
 background-color: white;
 border-radius:44px;
 padding:30px;
 width:max-content;
 height:max-content;
 z-index:101
}
.ico {
 margin-bottom: 15px;
 cursor:pointer;
}
.back_shadow  {
 position:absolute;
 display:flex;
 justify-content: center;
 align-items: center;
 background-color: rgba(0,0,0,0.3);
 backdrop-filter: blur(7px);
 height:fit-content;
 min-height:100%;
 min-width: 100%;
 z-index:100;
 left:0;
 top:0;
 padding: 50px 0
}