.header {
 width:100%;
 gap:50px;
 justify-content: space-around;
 align-items: center;
 display: flex;
 background-color: rgba(0,0,0,.04);
 height:141px;
 margin-bottom: 50px;
}
.links {
 display: flex;
 gap:20px;
}
.socials {
 display:flex;
 gap:15px;
}
.header h1 {
 color:#2C180D;
 font-family:"Zain";
 font-weight:200;
 font-size:26px;
}