.details_container {
 display:flex;
 width:100%;
 justify-content:center;
 align-items: center;
 gap:60px;
 direction:rtl;
 position:relative;
 top:70px;
}
.details_container .title {
 font-size:77px;
 font-weight:700
}
.details_container .text {
 font-size:26px;
 font-weight:300;
 opacity:.7;
 width:515px;
}
.details_container .img_container {
 width:500px;
 height:500px;
 overflow: hidden;
 position:relative;
}
.details_container img {
 width:100%;
 height:auto;
}